body {
    font-family: Arial, sans-serif;
    background-color: #e1bee7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #7b1fa2;
    font-size: 3em;
}

p {
    font-size: 1.5em;
    color: #4a148c;
}